<html>
<head>
    <title>Smart Events</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        #historias {background-color: #D8D8D8;}
        footer{padding-bottom: 20px;}
        .modalemhc {display: none;position: fixed;z-index: 1;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.9);}
        .modalemhc-content {margin: auto;display: block;width: 80%;max-width: 700px;}
        .closemod {right: 15px;position: absolute;color: #999999;font-size: 45px;font-weight: bold;transition: 0.3s;}
        .closemod:hover,.closemod:focus {color: #ffffff;text-decoration: none;cursor: pointer;font-size: 50px;}
        @media only screen and (max-width: 700px){.modalemhc-content {width: 100%;}}
    </style>
</head>
<body>
<style type="text/css">
   #back1{background-color: #005BAA;background-image: url("fondo4mhc.png");background-position: top center;background-repeat: no-repeat;background-attachment: fixed;width: 100%;}
   #back2{background-color: #1A1A1A;background-position: top center;background-repeat: no-repeat;background-attachment: fixed;width: 100%;color:#ffffff}
   #back3{background-color: #3C3C3D;background-image: url("fondomhc.png");background-position: top center;background-repeat: no-repeat;background-attachment: fixed;width: 100%;}
   .verticalLine{border-right: thick solid #000000;}
</style>
<div id="back1">
    <header class="navbar navbar navbar-fixed-top">
        <div class="row text-center" style="background-color:#1A1A1A">
            <div class="col-xs-12 col-sm-4" ><a href="inicio.php">
                <img src="Union.png" width="200" align="center" style="margin:15px"></a>
            </div>
            <div class="col-xs-0 col-sm-2" align="right"></div>
            <div class="col-xs-12 col-sm-6"  align="centre" >
                <!--<button class="btn btn-default" style="border-radius:25px;margin-top:15px;margin-bottom:15px;width:150px;height:40px;" onclick="loginmhc()">Contacto</button>-->
            </div>
        </div>
    </header>
    <h1 style="text-align:center;margin-top:70px;padding-top:60px;color:white">Smart Events</h1><br>
    <h4 style="text-align:center;color:white">
        es un software que será tu aliado en la organización y ejecución de eventos, conciertos y actividades de alto trafico de asistentes. "Transforma tu evento con una experiencia cashless eficiente y segura".

    </h4>
    <div class="container-fluid text-center">
        <div class="row">
            <h1 style="text-align:center;color:white;padding-top:60px;">Por qué Smart Events?
            </h1>
            <br>
            <div class="col-sm-3">
                <div style="border-radius:50px;border: 2px solid #ffffff;padding:5px;margin:5px;margin-bottom:20px;height:270px;">
                <h2 style="color:white;"> Acelera
                </h2>
                <h4 style="color:white;">Agiliza las transacciones en eventos <strong></strong> 
                </h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="border-radius:50px;border: 2px solid #ffffff;padding:5px;margin:5px;margin-bottom:20px;height:270px;">
                <h2 style="color:white;">Gestiona
                </h2>
                <h4 style="color:white;">Gestión de inventario en tiempo real

                    <strong></strong> 
            </h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="border-radius:50px;border: 2px solid #ffffff;padding:5px;margin:5px;margin-bottom:20px;height:270px;">
                <h2 style="color:white;"> Controla
                </h2>
                <h4 style="color:white;"> Reduce errores y perdida de efectivo
<strong></strong> 
                </h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="border-radius:50px;border: 2px solid #ffffff;padding:5px;margin:5px;margin-bottom:20px;height:270px;">
                <h2 style="color:white;"> Estadísticas
                </h2>
                <h4 style="color:white;">Reportes de Ventas, Inventarios, Personal, Productos y más!!!
<strong>s</strong> 
                </h4>
                </div>
            </div>
        </div>
    </div>           
</div>
<div id="back2">
    <div class="container-fluid">
        <div class="row">
        <h2 style="text-align:center;">
        </h2>
            <div class="col-sm-6 verticalLine">
                <div class="row" style="margin:10px;">
                    
                    <div class="col-xs-4 text-center"><img src="IC5.png" width="70" align="center" style="margin-top:5px;"></div>
                    <div class="col-xs-8"><h2 style="text-align:left;">Funcionalidades principales</h2>
                    <h4>
                        <li>Gestión de Inventario: con nuestro sistema puede llevar el control de inventario por barra con el propósito de brindar a los asistentes el 100% de disponibilidad de los productos a la venta</li><br>
                        <li>Personalización de Productos: puedes establecer la venta de productos por día, canal de venta, por barra para un mayo control</li><br>
                        <li>Estadísticas en tiempo Real: contamos con múltiples reportes en tiempo real que te ayudaran a monitorear la ejecución del evento y accionar en el menor tiempo posible</li><br>

                    </h4></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="margin:10px;">
                    <div class="col-xs-4 text-center"><img src="IC6.png" width="70" align="center" style="margin-top:5px;"></div>
                    <div class="col-xs-8"><h2 style="text-align:left;">Proceso de Uso</h2>
                    <h4>
                        Registro de la pulsera
                        Validación de la pulsera
                        Recarga de la pulsera 
                        Compra de producto
                    </h4></div>
                </div>
            </div><br>
        </div>
    </div>
</div>
<div id="back3">
    <div class="container-fluid">
        <div class="row text-center">
            <h2 style="text-align:center;color:white;padding:20px;">Casos de Éxito
            </h2><br>
            <div class="col-sm-4"><img src="background.jpg" width="70%"><br><h3 style="color:white;padding:20px;">
            </h3></div>
            <div class="col-sm-4"><img src="background2.jpeg" width="70%"><br><h3 style="color:white;padding:20px;">
            </h3></div>
            <div class="col-sm-4"><img src="background3.jpeg" width="70%"><br><h3 style="color:white;padding:20px;">
            </h3></div>
        </div>
    </div>
</div>
<div id="back1">
    <div class="container-fluid">
        <div class="row">
            
            <h2 style="text-align:center; color:#ffffff" >Contacto</h2>
            <div class="col-sm-2" style="text-align:center;"></div>
                <div class="col-sm-8" style="text-align:center;">
                    <a href="https://wa.me/50765430667?text=%C2%A1Hola%20Santiago!%0AMe%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20Smartlunch."> 
                        <h3 style="border-radius:50px;border: 2px;background-color:#1A1A1A;padding:5px;margin:5px;margin-bottom:20px;height:50px;color: #D8D8D8;">
                            <img src="SL-icon-flag-pa.svg" width="30" height="20"> Panamá (+507) 654-306-67</h3></a>
                    <a href="https://wa.me/524432522679?text=%C2%A1Hola%20SmartEvents%0AMe%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20Smartlunch..">
                        <h3 style="border-radius:50px;border: 2px;background-color:#1A1A1A;padding:5px;margin:5px;margin-bottom:20px;height:50px;color: #D8D8D8;">
                            <img src="SL-icon-flag-mx.svg" width="30" height="20"> México (+52) 443-252-2679</h3></a>    
                </div>
                <div class="col-sm-2" style="text-align:center;"></div>
            
        </div>
    </div>
</div>
<style>
    footer .glyphicon {font-size: 20px;color: white;}
</style> 
<footer class="text-center" style='background-color:#1A1A1A;padding-top:10px;'>
    <div class="container-fluid text-center"> 
        <div class="col-xs-3"><font color="#2469C2"><a href="terminosycondiciones.php">
        </a>  <a href="politicasdeprivacidad.php" target="blank"> 
        </a></font></div>
        <div class="col-xs-6"> <font color="#2469C2"><h4>
            Developed By <a href="https://www.ideapp.com.mx" target="blank"><font color="#2469C2">Ideapp </font></a> | ideapp.com.mx</h4></font>
        </div>
        <div class="col-xs-3 text-right">
        </div>
    </div>
</footer>
</body>
</html>

<script type="text/javascript">
var modal = document.getElementById('myModal');
var modalsign = document.getElementById('myModal2');
function loginmhc(){
    modal.style.display = "none";
    modalsign.style.display = "none";
    modal.style.display = "block";
}
function signupmhc(){
    modal.style.display = "none";
    modalsign.style.display = "none";
    modalsign.style.display = "block";
}
function cerrar() { 
    modal.style.display = "none";
    modalsign.style.display = "none";
}
</script>